<section class="content" (click)="cerrarAlClickAfuera ? cerrarFormulario() : null">
   
    <form [formGroup]="subTaskForm" (ngSubmit)="onCreateSubTask()" class="form-content" (click)="$event.stopPropagation()">
        <h2>Crear Sub Tarea</h2>

        <div class="caja-campos">

            <label>Titulo</label>
            <input type="text" formControlName="titulo" class="input-task" maxlength="50"
                [ngClass]="{'input-error': titulo?.invalid && (titulo?.touched || titulo?.dirty)}"
                [ngClass]="{'input-success': titulo?.valid}">

            <div *ngIf="titulo?.invalid && titulo?.touched" class="error">
                <span class="error-message" *ngIf="titulo?.errors?.['required']">Campo Requerido</span>
            </div>
        </div>

        <div class="caja-campos">
            <label for="">Descripción</label>
            <textarea formControlName="descripcion" class="input-task "maxlength="500"
                [ngClass]="{'input-error': descripcion?.invalid && (descripcion?.touched || descripcion?.dirty)}"
                [ngClass]="{'input-success': descripcion?.valid}"></textarea>
                
            <div *ngIf="descripcion?.invalid && descripcion?.touched" class="error">
                <span class="error-message" *ngIf="descripcion?.errors?.['required']">Campo Requerido</span>
            </div>
        </div>

        <div class="caja-campos">
            <label>Fecha de inicio</label>
            <input type="date" formControlName="startDate" class="input-task" />

            <div *ngIf="subTaskForm.get('startDate')?.hasError('fechaPasada') && subTaskForm.get('startDate')?.touched" class="error">
                <span class="error-message">La fecha no puede ser anterior a hoy</span>
            </div>
        </div>

        <div class="caja-campos">
            <label>Fecha final</label>
            <input type="date" formControlName="endDate" class="input-task" />
            <div *ngIf="subTaskForm.errors?.['fechaFinInvalida'] && (subTaskForm.get('endDate')?.dirty || subTaskForm.get('endDate')?.touched)" class="error">
                <span class="error-message">La fecha final no puede ser anterior a la fecha de inicio</span>
            </div>
        </div>

        <button type="submit" class="btn-task" [disabled]="subTaskForm.invalid" class="btn-task">
            Crear
        </button>
    </form>

</section>